/* p{
    color: rgb(34, 233, 133);
    size: 200px;
    
} */
#red{
    color: #ff0000;
    font-size: 80px; ;
}

.green{
    font-size: 80px;
}
.name{
    font-size: 80px;
}
h3,.name,.green{
    color: rgb(19, 206, 90);
}
